<h2><%= @bookmark.name %></h2>

<%= link_to 'Delete this bookmark', bookmark_path(@bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%= link_to 'Back to list', root_path %>
